.main-background{
    height:842px;
    width:1492px;
    display: flex;
    justify-content: center;
    padding: 100px 0px 0px 0px;
}
span{
    font-weight: 100;
    font-size: 50px;
    margin: 0px 13px 0px 0px;
}

span:nth-child(odd){
    margin-top: 0px;
}
span:nth-child(even){
    margin-top: 20px;
}

.game-section{
    height:600px;
    width:1200px;
    position: absolute;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.game-turns{
    height:400px;
    width:500px;
    display: flex;
    text-align: center;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.game-turns span{
    font-size: 20px;
}
.game-space{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/tic-tac-toe.png');
    height:400px;
    width:437px;
    padding: 20px 15px;
}

.each-img{
    height:100px;
    width: 100px;
    margin-right: 35px;
    margin-bottom: 27px;
}