.main-background{
    height:842px;
    width:1492px;
    display: flex;
    justify-content: center;
    padding: 100px 0px 0px 0px;
}
span{
    font-weight: 100;
    font-size: 50px;
    margin: 0px 13px 0px 0px;
    text-decoration: underline;
}

span:nth-child(odd){
    margin-top: 0px;
}
span:nth-child(even){
    margin-top: 20px;
}
button{
    margin: 30px 0px 0px 0px;
    height:40px;
    width:120px;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
button:hover{
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

.game-section{
    height:600px;
    width:1200px;
    position: absolute;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.game-turns{
    height:400px;
    width:500px;
    display: flex;
    /* text-align: center; */
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.game-turns span{
    font-size: 20px;
}
.game-space-fake{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/tic-tac-toe.png');
    height:400px;
    width:437px;
    padding: 20px 15px;
}
.game-space-real{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/tic-tac-toe.png');
    height:400px;
    width:437px;
    padding: 20px 15px;
    animation: game_space_real_animation 1s ease-in-out 0s;
}
@keyframes game_space_real_animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.hidden{
    display: none;
}

.each-img{
    height:100px;
    width: 100px;
    margin-right: 35px;
    margin-bottom: 27px;
}